<ion-header>
  <ion-navbar color="navbar">
    <ion-title><ion-icon name="basket"></ion-icon> Your Basket</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeBasket()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-container">

  <ion-list>
    <div *ngIf="!basketempty">
      <ion-item *ngFor="let b of basket">
          <h2>{{b.title}}</h2>
          <h3>{{currency}}{{b.price}}</h3>
        <button class="trash" ion-button large clear item-right (click)="removeItemStorage('basket',b.title)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </div>
      <ion-item *ngIf="basketempty">
        Your basket is empty.
      </ion-item>
  </ion-list>

  <br>
  <div *ngIf="!basketempty">

    <div class="total">
      <h4><strong>Total: {{currency}}{{total}}</strong></h4>
    </div>

    <button item-right ion-button item-right (click)="pushYourdetails()">
      Checkout&nbsp;<ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>

</ion-content>
