page-basket {
  .content-container { background-color: #ddd; }
  .total {
    font-size: 2.5rem;
    padding: 0 10px 20px 0;
  }
  .trash { font-size: 2.4rem; }
  h2 { color: #000; }
  h3 { color: #dd2810; }
}
