<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button class="basket" color="basket" large (click)="viewBasket()">
        <ion-icon name="basket" item-left></ion-icon>
      </button>
      <ion-badge item-right>{{badge}}</ion-badge>
    </ion-buttons>
    <ion-title>{{itemsName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-container">
 <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemTapped(item.title, item.price, item.desc, item.fullpath)" class="items-item">
      <ion-avatar item-left>
        <img src="{{item.urlthumb}}" />
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <h3>{{currency}}{{item.price}}</h3>

    </ion-item>
  </ion-list>

</ion-content>
