page-items {
  .content-container { background-color: #ddd; }
  .items-item { font-size: 1.4rem; }
  ion-badge { font-size: 1.2rem; vertical-align: top; }
  .basket { font-size: 2.4rem; background: none; }
  h2 { color: #000; }
  h3 { color: #dd2810; }
}
