<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button class="basket" color="basket" large (click)="viewBasket()">
        <ion-icon name="basket" item-left></ion-icon>
      </button>
      <ion-badge item-right>{{badge}}</ion-badge>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-container">
  <ion-item>
    <h1>{{currency}}{{price}}</h1>
    <button ion-button item-right (click)="addItemStorage('basket',title,price)">
      Add&nbsp;<ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>
  <ion-item>

    <ion-slides [options]="{pager:true}">
      <ion-slide *ngFor="let url of originalurls">
        <img src="{{url}}" />
      </ion-slide>
    </ion-slides>

    <p style="white-space: normal;">{{desc}}</p>

  </ion-item>

</ion-content>
