<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Details</ion-title>
  </ion-navbar>
</ion-header>

<h3>Please complete the form below and we will contact you as soon as possible regarding your order.</h3>

<ion-content padding class="content-container">

  <div *ngIf="isSubmitted === false">

    <form [formGroup]="form">
      <h3>Contact information</h3>
      <div formGroupName="yourDetails">
          <ion-input type="text" formControlName="name" placeholder="Name: *"></ion-input>
          <ion-input type="number" formControlName="contact_number" placeholder="Contact Number: *"></ion-input>
          <ion-input type="email" formControlName="email" placeholder="E-mail: *"></ion-input>
          <ion-textarea formControlName="comments" placeholder="Comments:"></ion-textarea>
      </div>
      <div formGroupName="yourAddress">
        <h3>Address information</h3>
          <ion-input type="text" formControlName="line1" placeholder="line1: *"></ion-input>
          <ion-input type="text" formControlName="line2" placeholder="line2: *"></ion-input>
          <ion-input type="text" formControlName="line3" placeholder="line3: *"></ion-input>
      </div>
    </form>

    <button ion-button item-right (click)="processForm()">
      Place Order&nbsp;<ion-icon name="send"></ion-icon>
    </button>

  </div>

  <div *ngIf="isSubmitted === true">

    <p text-center>{{submitMessage}}</p>
    <button ion-button item-right (click)="goHome()">
      Home&nbsp;<ion-icon name="home"></ion-icon>
    </button>

  </div>

</ion-content>
