<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div [innerHTML]="html"></div>

</ion-content>
