<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button *ngIf="depth" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button class="basket" color="basket" large (click)="viewBasket()">
        <ion-icon name="basket" item-left></ion-icon>
      </button>
      <ion-badge item-right>{{badge}}</ion-badge>
    </ion-buttons>
    <ion-title>Mavric Sport & Fashion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-container">

  <ion-list>
    <div *ngFor="let folder of folders">
      <ion-item *ngIf="folder['.tag'] == 'folder' && level == '1' && folder['name'] != 'Admin'" detail-push (click)="openFolder(folder.path_lower)" class="item">
        {{folder.name}}
      </ion-item>

      <ion-item *ngIf="level == '2'" (click)="itemTapped(folder.name, folder.path_lower)">
        {{folder.name}}
      </ion-item>

<!--      <ion-item *ngIf="folder['.tag'] == 'file' && folder['name'] != 'items.json'">
        <ion-avatar item-left>
          stop
        </ion-avatar>
      </ion-item>-->
    </div>
  </ion-list>

</ion-content>
