page-folders {
  .content-container { background-color: #ddd; }
  .item { color: #ef4a34; font-size: 1.4rem; }
  ion-badge { font-size: 1.2rem; vertical-align: top; }
  .basket { font-size: 2.4rem; background: none; }
  .toolbar-title { font-size: 1.5rem; }
}
